$bgBody: #1e1e1e;
$bgHeader: #0b0b0b;
$bgMain: #fff;
$bgFooter: #141414;
$green: #308E0F;
$grey1: #f3f3f3;
$grey2: #e5e5e5;
$grey3: #cacaca;
$darkGrey1:#323232;
$darkGrey2: #676767;

//media query
$md-mobile: "(max-width: 980px)";
